
<div class="chess-board">
    <table>
      <tbody>
        <% (1..8).each do |y_pos| %>
          <tr id = <%= y_pos %>>
            <% (1..8).each do |x_pos| %>
              <td data-x-pos = "<%= x_pos %>" 
                    data-y-pos = "<%= y_pos %>" 
                    class = "<%= square_class(y_pos, x_pos) %>">
                 
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<audio src="<%= audio_path 'my_audio_file.wav'%>" type="audio/mpeg" autostart="true" loop="true" controls>
    Your browser does not support the audio element.
</audio>

<script> 
var audio = document.getElementById("audio"); 
   function playAud() { 
        audio.play(); 
    } 
</script>
